/*===================================
	Our team-section
=====================================*/
.image-format {
	padding: 2em 0;
	h5 {
		padding: 0 0 10px 0;
		text-transform: uppercase;
	}
	p {
		padding: 10px 0 0 0;
	}
	.image {
		display: block;
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
/*.team-content {
	.title{
		margin-top: 30px;		
	}
}
.single-gallery-container {
	padding: 0;
	margin: 0;
	list-style: none;
	@include flexbox();
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	.single-team-gallery {
		margin: 30px auto 0px;
		color: $white;
		font-weight: bold;
		text-align: center;
		padding: 0 .5em;
		.our-team-image {
			position: relative;
			height: 50vh;
			width: 100%;
			background-position: top center;
			@include backgroundcover();
			background-repeat: no-repeat;

			@include animate( all, .6s );/*transition: all 600ms ease-in-out;
			opacity: .4;
		}
		h5 {
			margin-top: 10px;
		}
	}
}*/

.text-left, 
.text-right {
	a{
		&:hover {
			text-decoration: none;
			color: #fff;
			@include animate( all, .6s );
		}		
	}
}